nav {
  background-color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
}

ul {
  color: #fff;
  padding: 1rem;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

a {
  color: #fff;
  text-decoration: none;
}

main , footer{
  padding: 1rem;
}

section {
  margin-bottom: 3rem;
}
